@model LiWiMus.Core.Artists.Artist
@{
    ViewData["Title"] = "Artist Profile";
    Layout = "_LayoutSidebar";
}

@section Header{
    <partial name="Partials/_PlainHeaderPartial"/>
}

<style>
    .img-container img {
      max-width: 100%;
    }
</style>


<div class="p-0">
    <div class="editor-wrap">

        <h2 class="your-profile-header">
            Your artist profile
        </h2>

        <div>
            Name: @Model.Name
        </div>
        <div>
            About: @Model.About
        </div>
        <div>
            <img src="/@Model.PhotoPath" alt="artist photo">
        </div>
        <section class="edit-inputs-group">
            <form
                method="put"
                enctype="multipart/form-data"
                asp-formhelper="true"
                asp-action="Update">
                <input type="text" hidden name="Id" value="@Model.Id">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div class="label-input">
                        <label for="Name" class="form-label">Name</label>
                        <input id="Name" name="Name" type="text" class="form-control" value="@Model.Name">
                        <span data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>

                    <div class="label-input">
                        <label for="About" class="form-label">About</label>
                        <input id="About" name="About" type="text" class="form-control" value="@Model.About">
                        <span data-valmsg-for="About" data-valmsg-replace="true"></span>
                    </div>

                    <div class="mb-3">
                        <label for="Photo" class="form-label">Photo</label>
                        <input id="Photo" name="Photo" type="file">
                        <span data-valmsg-for="Photo" data-valmsg-replace="true"></span>
                    </div>
                    <div class="" style="text-align: center">
                        <button class="edit-button" type="submit" id="btn-edit-profile-info">Edit</button>
                    </div>
                    @*
                    <button type="submit" class="btn btn-primary">Submit</button>
                *@
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js" integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/update_profile.js"></script>
}