@using LiWiMus.Web.MVC.Areas.User.ViewModels
@model LiWiMus.Web.MVC.Areas.Music.ViewModels.PlaylistViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutSidebar";
}

@foreach (var track in Model.Tracks)
{
    <p>@track.Name</p>
                  
    <form class="form-add-track-to-playlist" method="post" asp-action="AddOrRemoveTrack">
        <input type="hidden" name="@nameof(TrackPlaylistViewModel.TrackId)" value="@track.Id">
        <input type="hidden" name="@nameof(TrackPlaylistViewModel.PlaylistId)" value="@Model.Id">
        <input type="submit" value="Remove">
    </form>
}

<form id="search-tracks-to-playlist" method="get" asp-action="Search">
    <input type="text" name="@nameof(SearchForPlaylistViewModel.Title)"/>
    <input type="hidden" name="@nameof(SearchForPlaylistViewModel.PlaylistId)" value="@Model.Id"/>
    <button>Search</button>
</form>

<div id="tracks-to-playlist">
    
</div>

@section Scripts
{
    <script src="~/js/playlist.js"></script>
}
