@model (LiWiMus.Web.MVC.ViewModels.ForListViewModels.TrackForListViewModel track, IEnumerable<LiWiMus.Web.MVC.ViewModels.GeneralInfoViewModels.PlaylistGeneralInfoViewModel> playlists)

<form asp-formhelper="true" asp-area="User" asp-controller="Track" asp-action="AddToPlaylist">
    <input type="hidden" value="@Model.track.Id" name="trackId">
    <select name="playlistId">
        @foreach (var playlist in Model.playlists)
        {
            <option value="@playlist.Id">@playlist.Name</option>
        }
    </select>
    <button>Save</button>
</form>

<a asp-area="User" asp-controller="Track" asp-action="Download" asp-route-trackId="@Model.track.Id" download="@Model.track.Name">Download</a>

<form asp-formhelper="true" asp-area="User" asp-controller="Track" asp-action="Like">
    <input type="hidden" value="@Model.track.Id" name="trackId">
    <button>Like</button>
</form>