@model LiWiMus.Web.Areas.User.ViewModels.ChatViewModel

@{
    Layout = "_Layout";
}

<div class="chats" id="chat-@Model.User.UserName">
    <div class="chat">

        <div class="user-name">
            <h3>
                @Model.User.UserName
            </h3>
        </div>

        <ul class="messages" id="@Model.User.UserName">
            @foreach (var message in Model.Messages)
            {
                <li class="message">
                    <p>
                        @message.Text
                    </p>
                </li>
            }
        </ul>

        <div class="send-message">
            <textarea class="ta-send-message-to-user" id="@Model.UserConnectionId"></textarea>
            <button id="btn-@Model.User.UserName" class="btn-send-to-user" value="@Model.UserConnectionId">Send</button>
        </div>
        
        <form method="post" asp-formhelper="true" asp-area="User" asp-controller="SupportChat" asp-action="CloseChatByConsultant">
            <input type="hidden" name="userName" value="@Model.User.UserName">
            <input type="submit" value="Close chat">
        </form>
    </div>
</div>