@model System.Collections.Generic.List<LiWiMus.Web.MVC.Areas.Music.ViewModels.TrackViewModel>
@inject Microsoft.Extensions.Options.IOptions<LiWiMus.Web.MVC.Models.PullUrls> _pullUrls

@{
    Layout = "_MediaLibraryLayout";
    var fileUrl = _pullUrls.Value.FileServer;
}

<section>
    @foreach (var track in Model)
    {
        <figure>
            <figcaption>AAAAAAAAAAA</figcaption>
            <audio
                controls
                src="@(fileUrl + track.FileLocation)">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>

        <div>
            <a asp-area="Music" asp-controller="Track" asp-action="Index" asp-route-trackId="@track.Id">
                @track.Name
            </a>
        </div>

        <img src="@(fileUrl + track.Album.CoverLocation)" alt=""/>

        @:Genres @string.Join(" & ", track.Genres.Select(a => a.Name))
        @:Artists @string.Join(" & ", track.Owners.Select(a => a.Name))
    }
</section>