@model LiWiMus.Web.MVC.Areas.Music.ViewModels.AlbumViewModel

@{
    ViewBag.Title = "Album";
    Layout = "_LayoutSidebar";
}

@section Header{
    <partial name="Partials/_PlainHeaderPartial"/>
}

<style>
    .img-container img {
      max-width: 100%;
    }
</style>
<div class="p-0 album-profile">
    <div class="editor-wrap">
        <div>
            <h2 class="your-profile-header">
                @Model.Title
            </h2>
        </div>
        <div id="subscriptionDiv">
            @Model.IsSubscribed
            @if (Model.IsSubscribed)
            {
                <form asp-formhelper="true" method="post" asp-action="SubscribeOrUnsubscribe">
                    <input name="albumId" type="hidden" value="@Model.Id">

                    <button class="edit-button" style="background-color: #21201F">Unsubscribe</button>

                </form>
            }
            else
            {
                <form asp-formhelper="true" method="post" asp-action="SubscribeOrUnsubscribe">
                    <input name="albumId" id="albumId" type="hidden" value="@Model.Id">
                    <button id="subscribtionButton" class="edit-button">Subscribe</button>
                </form>
            }
        </div>
        <section class="edit-inputs-group">
            <div>
                <img style="margin: 2%; border-radius:100%; width: 120px" src="/@Model.CoverLocation" alt="album cover">
            </div>

            <div>
                <p>Published at @Model.PublishedAt</p>

            </div>
        </section>
        <div>
            <h2 class="your-profile-header">
                Artists
            </h2>
        </div>
        <section class="edit-inputs-group">
            <div>
                @foreach (var artist in Model.Owners)
                {
                    <a>@artist.Name</a>
                }
            </div>
        </section>
        <div>
            <h2 class="your-profile-header">
                Tracks
            </h2>
        </div>
        <section class="edit-inputs-group">
            <div>
                @foreach (var track in Model.Tracks)
                {
                    <a>@track.Name</a>
                }
            </div>
        </section>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js" integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/subscribeUnsubscribe.js"></script>
}